<main>
  <nav>
    <i class="fa-solid fa-sort-up up" (click)="scrollUp()"></i>
    <div class="nav-menu">
      <h3
        (click)="showTools('Text')"
        [ngClass]="showToolsKey === 'Text' ? 'active-navMenu' : ''"
      >
        <span><i class="fa-solid fa-font"></i></span>
        <span>Text</span>
      </h3>
      <h3
        (click)="showTools('Size')"
        [ngClass]="showToolsKey === 'Size' ? 'active-navMenu' : ''"
      >
        <span
          ><i class="fa-solid fa-up-right-and-down-left-from-center"></i
        ></span>
        <span>Size</span>
      </h3>
      <h3
        (click)="showTools('Padding')"
        [ngClass]="showToolsKey === 'Padding' ? 'active-navMenu' : ''"
      >
        <span><i class="fa-solid fa-arrows-left-right-to-line"></i></span>
        <span>Padding</span>
      </h3>
      <h3
        (click)="showTools('Colour')"
        [ngClass]="showToolsKey === 'Colour' ? 'active-navMenu' : ''"
      >
        <span><i class="fa-solid fa-fill-drip"></i></span>
        <span>Colour</span>
      </h3>
      <h3
        (click)="showTools('Border')"
        [ngClass]="showToolsKey === 'Border' ? 'active-navMenu' : ''"
      >
        <span><i class="fa-solid fa-vector-square"></i></span>
        <span>Border</span>
      </h3>
    </div>
    <i class="fa-solid fa-caret-down down" (click)="scrollDown()"></i>
  </nav>

  <section
    class="artboard"
    cdkDropList
    id="targetList"
    (cdkDropListDropped)="drop($event, 'target')"
    [cdkDropListData]="droppedItems"
    [cdkDropListConnectedTo]="['componentList-key']"
  >
    <div *ngFor="let data of droppedItems">
      <div *ngIf="data.content === 'Button'">
        <button [ngStyle]="changes" type="button">
          {{ btnName }}
        </button>
      </div>
      <div *ngIf="data.content === 'Input'">
        <input type="text" />
      </div>
    </div>
  </section>

  <form [formGroup]="btnForm" class="editor-form">
    <div class="editor-btns">
      <button
        [ngClass]="customizeKey ? 'menu active-btn01' : 'menu'"
        (click)="customize()"
      >
        customize
      </button>
      <button
        [ngClass]="componentsKey ? 'code active-btn02' : 'code'"
        (click)="components()"
      >
        components
      </button>
      <button
        [ngClass]="settingsKey ? 'settings active-btn03' : 'settings'"
        (click)="settings()"
      >
        <i class="fa-solid fa-sliders"></i>
      </button>
    </div>

    <div class="editor" *ngIf="customizeKey">
      <section *ngIf="showToolsKey === 'Text'">
        <header>
          <h3>
            <span><i class="fa-solid fa-hashtag"></i></span> Text
          </h3>
        </header>
        <div class="content">
          <div>
            <label class="mb-2">Name</label>
            <input
              type="text"
              formControlName="buttonName"
              (keyup)="makeChanges()"
            />
          </div>

          <div>
            <label>Font Size</label>
            <div class="d-flex align-items-center gap-2">
              <input
                type="range"
                min="10"
                max="50"
                formControlName="fontSize"
                class="slider"
                (input)="makeChanges()"
              />
              <p>{{ this.btnForm.get("fontSize")?.value }}</p>
            </div>
          </div>

          <div>
            <label class="mb-2">Font Weight</label>
            <div class="d-flex align-items-center gap-2">
              <select formControlName="fontWeight" (change)="makeChanges()">
                <option value="300">300</option>
                <option value="400">400</option>
                <option value="500">500</option>
                <option value="600">600</option>
                <option value="700">700</option>
                <option value="800">800</option>
              </select>
            </div>
          </div>
        </div>
      </section>

      <section *ngIf="showToolsKey === 'Size'">
        <header>
          <h3>
            <span
              ><i class="fa-solid fa-up-right-and-down-left-from-center"></i
            ></span>
            Size
          </h3>
          <div>
            <label class="toggle-label">{{
              editWidthHeight ? "Custamize" : "Auto"
            }}</label>
            <mat-slide-toggle
              formControlName="widthToggle"
              (change)="makeChanges()"
            ></mat-slide-toggle>
          </div>
        </header>
        <div *ngIf="!editWidthHeight">
          <p class="components-desc">
            <i class="fa-solid fa-circle-info"></i>
            <span>Now button can auto width & height itself.</span>
          </p>
        </div>
        <div class="content" *ngIf="editWidthHeight">
          <div>
            <label>Width</label>
            <div class="d-flex align-items-center gap-2">
              <input
                type="range"
                min="50"
                max="600"
                formControlName="width"
                class="slider"
                (input)="makeChanges()"
              />
              <p>{{ this.btnForm.get("width")?.value }}</p>
            </div>
          </div>

          <div>
            <label>Height</label>
            <div class="d-flex align-items-center gap-2">
              <input
                type="range"
                min="30"
                max="500"
                formControlName="height"
                class="slider"
                (input)="makeChanges()"
              />
              <p>{{ this.btnForm.get("height")?.value }}</p>
            </div>
          </div>
        </div>
      </section>

      <section *ngIf="showToolsKey === 'Padding'">
        <header>
          <h3>
            <span><i class="fa-solid fa-minimize"></i></span>
            Padding
          </h3>
          <div>
            <label class="toggle-label">{{
              editPadding ? "Seperate" : "All Sides"
            }}</label>
            <mat-slide-toggle
              formControlName="paddingToggle"
              (change)="makeChanges()"
            ></mat-slide-toggle>
          </div>
        </header>
        <div class="content">
          <div *ngIf="!editPadding">
            <label>Equal Padding</label>
            <div class="d-flex align-items-center gap-2">
              <input
                type="range"
                min="0"
                max="100"
                formControlName="padding"
                class="slider"
                (input)="makeChanges()"
                [disabled]="!editPadding"
              />
              <p>{{ this.btnForm.get("padding")?.value }}</p>
            </div>
          </div>

          <div class="sub-content" *ngIf="editPadding">
            <div>
              <label
                [ngStyle]="{
                  color: editPadding
                    ? 'rgb(127, 134, 155)'
                    : 'rgb(172, 181, 209)'
                }"
                >Top</label
              >
              <div class="d-flex align-items-center gap-2">
                <input
                  type="range"
                  min="0"
                  max="100"
                  formControlName="paddingTop"
                  class="slider"
                  (input)="makeChanges()"
                  [disabled]="editPadding"
                />
                <p>{{ this.btnForm.get("paddingTop")?.value }}</p>
              </div>
            </div>

            <div>
              <label
                [ngStyle]="{
                  color: editPadding
                    ? 'rgb(127, 134, 155)'
                    : 'rgb(172, 181, 209)'
                }"
                >Right</label
              >
              <div class="d-flex align-items-center gap-2">
                <input
                  type="range"
                  min="0"
                  max="100"
                  formControlName="paddingRight"
                  class="slider"
                  (input)="makeChanges()"
                  [disabled]="editPadding"
                />
                <p>{{ this.btnForm.get("paddingRight")?.value }}</p>
              </div>
            </div>

            <div>
              <label
                [ngStyle]="{
                  color: editPadding
                    ? 'rgb(127, 134, 155)'
                    : 'rgb(172, 181, 209)'
                }"
                >Bottom</label
              >
              <div class="d-flex align-items-center gap-2">
                <input
                  type="range"
                  min="0"
                  max="100"
                  formControlName="paddingBottom"
                  class="slider"
                  (input)="makeChanges()"
                  [disabled]="editPadding"
                />
                <p>{{ this.btnForm.get("paddingBottom")?.value }}</p>
              </div>
            </div>

            <div>
              <label
                [ngStyle]="{
                  color: editPadding
                    ? 'rgb(127, 134, 155)'
                    : 'rgb(172, 181, 209)'
                }"
                >Left</label
              >
              <div class="d-flex align-items-center gap-2">
                <input
                  type="range"
                  min="0"
                  max="100"
                  formControlName="paddingLeft"
                  class="slider"
                  (input)="makeChanges()"
                  [disabled]="editPadding"
                />
                <p>{{ this.btnForm.get("paddingLeft")?.value }}</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section *ngIf="showToolsKey === 'Colour'">
        <header>
          <h3>
            <span><i class="fa-solid fa-brush"></i></span>
            Colour
          </h3>
        </header>
        <div class="content">
          <div>
            <label class="mb-1">Background</label>
            <div class="color-container">
              <input
                type="color"
                formControlName="backgroundColor"
                (change)="makeChanges()"
              />
              <p>{{ this.btnForm.get("backgroundColor")?.value }}</p>
            </div>
          </div>

          <div>
            <label class="mb-1">Text</label>
            <div class="color-container">
              <input
                type="color"
                formControlName="textColor"
                (change)="makeChanges()"
              />
              <p>{{ this.btnForm.get("textColor")?.value }}</p>
            </div>
          </div>

          <div>
            <label class="mb-2">Border</label>
            <div class="color-container">
              <input
                type="color"
                formControlName="borderColor"
                (change)="makeChanges()"
              />
              <p>{{ this.btnForm.get("borderColor")?.value }}</p>
            </div>
          </div>
        </div>
      </section>

      <section *ngIf="showToolsKey === 'Border'">
        <header>
          <h3>
            <span><i class="fa-solid fa-vector-square"></i></span>
            Border
          </h3>
        </header>
        <div class="content">
          <div>
            <label>Border Width</label>
            <div class="d-flex align-items-center gap-2">
              <input
                type="range"
                min="0"
                max="100"
                formControlName="borderWidth"
                class="slider"
                (input)="makeChanges()"
              />
              <p>{{ this.btnForm.get("borderWidth")?.value }}</p>
            </div>
          </div>
          <div>
            <label class="mb-2">Border Style</label>
            <div class="d-flex align-items-center gap-2">
              <select formControlName="borderStyle" (change)="makeChanges()">
                <option value="solid">solid</option>
                <option value="dotted">Dotted</option>
                <option value="dashed">Dashed</option>
                <option value="inset">Inset</option>
                <option value="outside">Outside</option>
                <option value="ridge">Ridge</option>
                <option value="groove">Groove</option>
                <option value="double">Double</option>
                <option value="none">None</option>
                <option value="hidden">Hidden</option>
              </select>
            </div>
          </div>
        </div>
        <header class="mt-4">
          <h3>
            <span><i class="fa-solid fa-border-top-left"></i></span>
            Radius
          </h3>
          <div>
            <label class="toggle-label">{{
              editRadius ? "Seperate" : "All Sides"
            }}</label>
            <mat-slide-toggle
              formControlName="radiusToggle"
              (change)="makeChanges()"
            ></mat-slide-toggle>
          </div>
        </header>
        <div class="content">
          <div *ngIf="!editRadius">
            <label>Equal Border Radius</label>
            <div class="d-flex align-items-center gap-2">
              <input
                type="range"
                min="0"
                max="100"
                formControlName="radius"
                class="slider"
                (input)="makeChanges()"
                [disabled]="!editRadius"
              />
              <p>{{ this.btnForm.get("radius")?.value }}</p>
            </div>
          </div>

          <div class="sub-content" *ngIf="editRadius">
            <div>
              <label>Top Left</label>
              <div class="d-flex align-items-center gap-2">
                <input
                  type="range"
                  min="0"
                  max="100"
                  formControlName="radiusLTop"
                  class="slider"
                  (input)="makeChanges()"
                  [disabled]="editRadius"
                />
                <p>{{ this.btnForm.get("radiusLTop")?.value }}</p>
              </div>
            </div>

            <div>
              <label>Top Right</label>
              <div class="d-flex align-items-center gap-2">
                <input
                  type="range"
                  min="0"
                  max="100"
                  formControlName="radiusRTop"
                  class="slider"
                  (input)="makeChanges()"
                  [disabled]="editRadius"
                />
                <p>{{ this.btnForm.get("radiusRTop")?.value }}</p>
              </div>
            </div>

            <div>
              <label>Bottom Right</label>
              <div class="d-flex align-items-center gap-2">
                <input
                  type="range"
                  min="0"
                  max="100"
                  formControlName="radiusRBottom"
                  class="slider"
                  (input)="makeChanges()"
                  [disabled]="editRadius"
                />
                <p>{{ this.btnForm.get("radiusRBottom")?.value }}</p>
              </div>
            </div>

            <div>
              <label>Bottom Left</label>
              <div class="d-flex align-items-center gap-2">
                <input
                  type="range"
                  min="0"
                  max="100"
                  formControlName="radiusLBottom"
                  class="slider"
                  (input)="makeChanges()"
                  [disabled]="editRadius"
                />
                <p>{{ this.btnForm.get("radiusLBottom")?.value }}</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="components" *ngIf="componentsKey">
      <p class="components-desc">
        <i class="fa-solid fa-circle-info"></i>
        <span>Drag and drop the component you want to create.</span>
      </p>
      <div [ngClass]="dragItems.length !== 2 ? 'disabled-div' : ''">
        <div
          class="component-list"
          id="componentList-key"
          cdkDropList
          (cdkDropListDropped)="drop($event, 'initial')"
          [cdkDropListData]="dragItems"
          [cdkDropListConnectedTo]="['targetList']"
          [cdkDropListSortPredicate]="sortPredicate"
        >
          <div
            class="component-items menu-container"
            *ngFor="let data of dragItems"
            [cdkDragData]="dragItems"
            cdkDrag
          >
            <ng-container *ngIf="data.content === 'Button'">
              <p [class]="data.class">{{ data.content }}</p>
            </ng-container>

            <ng-container *ngIf="data.content === 'Input'">
              <p [class]="data.class">{{ data.content }}</p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="settings" *ngIf="settingsKey">
      <header>
        <h3>
          <span> <i class="fa-solid fa-sliders"></i></span> Settings
        </h3>
      </header>
      <div class="settings-container">
        <div class="setting-option">
          <p>Appearance</p>
          <div class="option-container">
            <div class="option">
              <h3>
                <span><i class="fa-solid fa-brush"></i></span>
                Dark Mode
              </h3>
              <mat-slide-toggle (change)="toggleTheme()"></mat-slide-toggle>
            </div>
            <div class="option">
              <h3>
                <span><i class="fa-solid fa-palette"></i></span> Theme
              </h3>
              <input type="color" />
            </div>
          </div>
        </div>

        <div class="setting-option">
          <p>Toolbar</p>
          <div class="option-container">
            <div class="option">
              <h3>
                <span><i class="fa-solid fa-tag"></i></span> Show Label
              </h3>
              <mat-slide-toggle></mat-slide-toggle>
            </div>
            <div class="option">
              <h3>
                <span><i class="fa-solid fa-square-arrow-up-right"></i></span>
                Full view
              </h3>
              <mat-slide-toggle></mat-slide-toggle>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="code-btn m-3">
      <button
        class="btn btn-primary"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample"
      >
        Code
      </button>
    </div>
  </form>
</main>

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
  style="min-width: 300px; width: 100%; max-width: 500px"
>
  <div class="offcanvas-header">
    <p class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</p>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <pre>
<code>
&lt;!-- Html --&gt;
&lt;bottom type="button" class="button-style"&gt;
  {{btnName}}
&lt;/bottom&gt;

// css
.button-style &#123;
  <ng-container *ngIf="this.btnForm.get('fontSize')?.value">font-size: {{ this.btnForm.get('fontSize')?.value }}px;</ng-container>
  <ng-container *ngIf="this.btnForm.get('fontWeight')?.value">font-weight: {{ this.btnForm.get('fontWeight')?.value }};</ng-container>
  <ng-container *ngIf="this.btnForm.get('width')?.value">width: {{ btnForm.get('width')?.value === 'auto' ? 'auto;' : (btnForm.get('width')?.value + 'px;') }}</ng-container>
  <ng-container *ngIf="this.btnForm.get('height')?.value">height: {{ btnForm.get('height')?.value === 'auto' ? 'auto;' : (btnForm.get('height')?.value + 'px;') }}</ng-container>
  <ng-container *ngIf="this.btnForm.get('padding')?.value">padding: {{ this.btnForm.get('paddingTop')?.value }}px; {{this.btnForm.get('paddingRight')?.value}}px; {{this.btnForm.get('paddingBottom')?.value}}px; {{this.btnForm.get('paddingLeft')?.value}}px;</ng-container>
  <ng-container *ngIf="this.btnForm.get('backgroundColor')?.value">background-color: {{ this.btnForm.get('backgroundColor')?.value }};</ng-container>
  <ng-container *ngIf="this.btnForm.get('textColor')?.value">color: {{ this.btnForm.get('textColor')?.value }};</ng-container>
  <ng-container *ngIf="this.btnForm.get('radius')?.value">radius: {{ this.btnForm.get('radiusLTop')?.value }}px; {{this.btnForm.get('radiusRTop')?.value}}px; {{this.btnForm.get('radiusRBottom')?.value}}px; {{this.btnForm.get('radiusLBottom')?.value}}px;</ng-container>
  <ng-container *ngIf="this.btnForm.get('borderWidth')?.value">border-width: {{ this.btnForm.get('borderWidth')?.value }}px;</ng-container>
  <ng-container *ngIf="this.btnForm.get('borderStyle')?.value">border-style: {{ this.btnForm.get('borderStyle')?.value }}</ng-container>
  <ng-container *ngIf="this.btnForm.get('borderColor')?.value">border-color: {{ this.btnForm.get('borderColor')?.value }}</ng-container>
&#125;
</code>
</pre>
  </div>
</div>
