<section class="app-home">
  <div class="app-01">
    <div class="app-content01">
      <small>Your Ultimate Tool for Customizing CSS Components</small>
      <h2>Welcome to CSSGenie</h2>
      <p>
        CSSGenie is your go-to platform for crafting personalized CSS
        components. Whether you're a seasoned developer or just starting out,
        our tool simplifies the process of creating beautiful, responsive, and
        efficient CSS styles. No more manual coding - CSSGenie does the magic
        for you!
      </p>
      <button type="button" routerLink="editorComponent" class="route-editor">
        Explore
      </button>
    </div>
  </div>

  <div class="app-02">
    <div class="app-content02">
      <small>Customize your buttons with ease</small>
      <h2>Powerful Customization Tools</h2>
      <ul>
        <li>
          <b>Padding:</b> Adjust the inner spacing to create buttons that feel
          just right.
        </li>
        <li>
          <b>Border:</b> Style your button borders with custom widths, colors,
          and styles.
        </li>
        <li>
          <b>Text Formatting:</b> Control font size, weight, color, and
          alignment to match your design perfectly.
        </li>
        <li>
          <b>Background Color:</b> Choose from a palette of colors or enter your
          custom HEX/RGB values.
        </li>
        <li>
          <b>Hover Effects:</b> Add interactive hover effects to enhance user
          experience.
        </li>
        <li><b>Box Shadow:</b> Add depth with customizable shadow effects.</li>
        <li>
          <b>Rounded Corners:</b> Smooth out your button corners for a modern
          look.
        </li>
      </ul>
    </div>
    <div class="tool-video">
      <video class="video01" autoplay muted loop>
        <source src="./assets/tool01.mov" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <video class="video02" autoplay muted loop>
        <source src="./assets/tool02.mov" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>

  <div class="app-03">
    <div class="app-content03">
      <small>Customize your components</small>
      <h2>Customizable Components</h2>
    </div>
    <div class="tool-video">
      <ul>
        <li>
          <p class="count">01</p>
          <div>
            <h3>Select Your Component</h3>
            <p>
              Choose from a variety of components like buttons, cards, forms,
              and more.
            </p>
          </div>
        </li>
        <li>
          <p class="count">02</p>
          <div>
            <h3>Customize</h3>
            <p>
              Use our intuitive tools to modify every aspect of your component's
              design.
            </p>
          </div>
        </li>
        <li>
          <p class="count">03</p>
          <div>
            <h3>Generate Code</h3>
            <p>
              Once you're satisfied, CSSGenie generates the CSS code for you to
              copy and use in your project.
            </p>
          </div>
        </li>
      </ul>
      <video class="video03" autoplay muted loop>
        <source src="./assets/tool03.mov" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</section>

<!-- <app-button></app-button> -->
