@import url("https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");
@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24"><path fill="rgb(245 247 251)" stroke="rgb(108 115 148)" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'),
    default !important;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Teachers", sans-serif !important;
}

.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6,
.mat-typography p {
  font-family: "Teachers", sans-serif !important;
  margin: 0;
  padding: 0;
}

input,
button {
  font-family: "Teachers", sans-serif !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Button
main {
  height: 100dvh;
  display: grid;
  grid-template-columns: auto 1fr 350px;
  grid-template-rows: 1fr;
  align-items: start;
  gap: 24px;
  padding: 26px 20px;
  background-color: rgb(245, 247, 251);
  color: rgb(127, 134, 155);

  nav {
    background-color: white;
    border-radius: 8px;
    border: 2px solid rgb(181, 189, 215);
    margin: auto 0;
    padding: 20px 12px;
    position: relative;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.101);

    .up {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      border-bottom: 2px solid rgb(181, 189, 215);
      background-color: rgb(245, 247, 251);
      padding-top: 8px;
      line-height: 8px;
      border-radius: 8px 8px 0 0;
    }

    .down {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      border-top: 2px solid rgb(181, 189, 215);
      padding-bottom: 4px;
      padding-top: 2px;
      line-height: 8px;
      border-radius: 0 0 8px 8px;
      background-color: rgb(245, 247, 251);
    }

    .nav-menu {
      height: 420px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      overflow-y: scroll;
      scroll-behavior: smooth;
      padding: 16px 0 10px 0;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    h3 {
      font-weight: 600;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;

      span:nth-child(1) {
        border-radius: 6px;
        color: rgb(127, 134, 155);
        display: grid;
        place-items: center;
        font-size: 22px !important;
      }

      span:nth-child(2) {
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }

  .component {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.101);
    height: 100%;
    border-radius: 10px;
    background: radial-gradient(circle, #ededed 10%, transparent 11%);
    background-size: 1.5em 1.5em;
    background-color: #ffffff;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(181, 189, 215);
  }

  .editor-form {
    display: flex;
    flex-direction: column;
    gap: 14px;

    .editor-btns {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;

      .code {
        border: 2px solid rgb(91, 96, 113);
        background-color: rgb(127, 134, 155);
        color: white;
        max-width: fit-content;
        padding: 6px 10px;
        border-radius: 6px;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 16px;
      }
    }

    .editor {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 18px;
      background-color: white;
      height: fit-content;
      border-radius: 8px;
      border: 2px solid rgb(181, 189, 215);
      box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.101);

      section {
        header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;

          div {
            display: flex;
            align-items: center;
            gap: 10px;
          }

          .toggle-label {
            border: 2px solid rgb(127, 134, 155);
            background-color: rgb(181, 189, 215);
            color: white;
            border-radius: 6px;
            padding: 2px 8px 4px 8px;
            position: relative;
            margin-right: 6px;

            &::before {
              content: "";
              position: absolute;
              right: -7px;
              top: 50%;
              width: 12px;
              height: 12px;
              transform: translateY(-50%) rotate(42deg);
              background-color: rgb(181, 189, 215);
              border-top: 2px solid rgb(127, 134, 155);
              border-right: 2px solid rgb(127, 134, 155);
              border-radius: 0 2px 0 0;
            }
          }
        }

        .desc {
          font-size: 16px;
          font-weight: 500;
        }

        .content {
          display: flex;
          flex-direction: column;
          gap: 12px;

          .sub-content {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h4 {
              font-weight: 500;
            }
          }
        }
      }

      label {
        display: block;
        font-size: 16px;
        font-weight: 500;
      }

      h3 {
        font-weight: 500;
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 8px;
        color: rgb(127, 134, 155);

        span {
          width: 24px;
          height: 24px;
          border: 2px solid rgb(127, 134, 155);
          background-color: rgb(181, 189, 215);
          color: white;
          border-radius: 6px;
          display: grid;
          place-items: center;
          font-size: 14px !important;
        }
      }

      input {
        width: 100%;
      }

      input[type="text"],
      select {
        border: 2px solid rgb(181, 189, 215);
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.077);
        border-radius: 8px;
        padding: 10px 14px;
        width: 100%;
        letter-spacing: 1px;
        font-weight: 500;
      }

      .color-container {
        display: flex;
        align-items: center;
        gap: 6px;
        margin-top: 8px;

        p {
          font-weight: 500;
        }

        input[type="color"] {
          width: 20px;
          height: 20px;
          padding: 2px;
          border: 2px solid rgb(181, 189, 215);
          border-radius: 4px;
        }
      }

      input[type="range"] {
        margin-top: 6px;
      }
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    appearance: none;
    --webkit-appearance: none;
    background-color: white;
    border: 2px solid rgb(127, 134, 155);
    border-radius: 20px;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width: 100% !important;
    height: 10px;
    appearance: none;
    -webkit-appearance: none;
    color: #13bba4;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    appearance: none;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: rgb(104, 110, 127);
    box-shadow: -405px 0 0 400px rgb(181, 189, 215);
    border-radius: 40px;
  }
}

input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}
input[type="range"]::-moz-range-track {
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
}
input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}

.offcanvas-body {
  border-bottom: 2px solid rgb(127, 134, 155);
}

// test
.example-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

  .example-box {
    cursor: move;
    font-size: 14px;

    .cdk-drag-preview {
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .cdk-drag-placeholder {
      opacity: 0;
    }

    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .example-list.cdk-drop-list-dragging
      .example-box:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

.disabled-div {
  pointer-events: none;
  opacity: 0.4;
}

.menu-container {
  border: 2px solid rgb(181, 189, 215);
  padding: 10px;
  border-radius: 6px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
